$orange: #FF7300;
$grey: #6A5C6B;
$title: 'Luckiest Guy', cursive;
$texte: 'Open Sans', sans-serif;

@mixin centrer ($justify: center, $direction: column) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

// NORMALISE //

* {
    box-sizing: border-box;
    font-family: $texte;
}

h1, h2 {
    font-family: $title;
}

// NORMALISE //


body {
    @include centrer(start, column);
    height: 100vh;
    margin: 0;
    background-image: url(../img/fond.svg);

    & header {
        width: 100%;
        padding: 3% 10%;
        @include centrer(space-evenly, row);
        text-transform: uppercase;

        & div {
            width: 50%;
            height: 100%;
            @include centrer(center, row);

            & img {
                width: 10%;
            }

            & h1 {
                padding: 0 3%;
                height: 100%;
                margin: 0;
                font-size: 3rem;
                color: $grey;
                @include centrer(center, row);
            }
        }

        & nav {
            width: 50%;
            height: 100%;
            @include centrer();

            & ul {
                width: 90%;
                height: 100%;
                @include centrer(space-evenly, row);
                list-style: none;
                padding: 0;
                margin: 0;

                & li {
                    height: 100%;
                    @include centrer(space-evenly, column);

                    & img {
                        width: 15%;
                        filter: invert(58%) sepia(61%) saturate(5061%) hue-rotate(2deg) brightness(103%) contrast(105%);
                    }

                    & a {
                        width: 100%;
                        text-align: center;
                        text-decoration: none;
                        font-family: $title;
                        font-size: 1rem;
                        color: $orange;
                    }
                }
            }
        }
    }

    & main {
        width: 100%;
        @include centrer();

        & section {
            width: 100%;
            height: 100%;

            & #article_rap {
                background-image: url(../img/fond.gif);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 500px;
                @include centrer();
                color: white;
            }
        }
    }
}